Delta CTF
keys

temp.txt
Tasks/Docker-Task-3/backup
Tasks/Docker-Task-3/test.py
Tasks/Docker-Task-3/test.txt
Tasks/Docker-Task-3/test1.txt
Tasks/Docker-Task-3/sample.txt

Tasks/Docker-Task-1,2/cron1.sh